parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/fixtures
    tmpDir: cache/phpstan
    ignoreErrors:
        # Pest-specific test methods
        - '#Call to an undefined method Pest\\PendingCalls\\TestCall\|Pest\\Support\\HigherOrderTapProxy::throws\(\)#'
        # ob_get_clean can return false but in tests it won't
        - '#Parameter \#1 \$imageData of method ImageResizer\\Services\\ImageDownloader::getImageType\(\) expects string, string\|false given#'
